@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Figtree', sans-serif;
  --font-mono: 'Figtree', sans-serif;
}

.tabular-num {
  font-variant-numeric: tabular-nums;
}

:root {
  --ui-radius: 0.5rem;
  --ui-primary: black;
  --ui-container: 100%;
}

:root, .light {
  --ui-bg: var(--ui-color-neutral-50);
  --ui-bg-muted: var(--ui-color-neutral-100);
  --ui-text-inverted: var(--ui-color-neutral-50);
}

.dark {
  --ui-bg-inverted: var(--ui-color-neutral-50);
  --ui-text-highlighted: var(--ui-color-neutral-50);
  --ui-border-inverted: var(--ui-color-neutral-50);
  --ui-primary: white;
  --ui-bg: var(--ui-color-neutral-900);
  --ui-bg-muted: var(--ui-color-neutral-800);
  --ui-text-inverted: var(--ui-color-neutral-900);
}